$primary-yellow: #DCF10D;

body {
    margin: 0px;
    padding: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #192140;
  
  .logo {
    color: $primary-yellow;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2.4px;
    text-align: right;
  }
  
  .nav {
    display: flex;
    align-items: center;
    gap: 30px;
    
    .nav-container{
      display: flex;
      align-items: center;
      gap: 30px;

      .nav-link {
        color: $primary-yellow;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-decoration-line: underline;
        text-align: center;
        text-decoration: none;

        &:last-child {
          text-decoration-line: none;
          color: #ffffff;
        }
        &:nth-child(2) {
          text-decoration-line: none;
          color: #ffffff;
        }
        &:nth-child(3) {
          text-decoration-line: none;
          color: #ffffff;
        }
      }
    }
    
    .signup {
      display: flex;
      align-items: center;
      gap: 20px;
      
      .signup-link {
        color: #9D9DB5;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: -0.16px;
        text-decoration: none;
      }
      
      .login {
        display: flex;
        padding: 16px 20px;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border-radius: 40px;
        border: 1px solid #0266FF;
        
        .login-link {
          color: #0266FF;
          font-family: 'Inter', sans-serif;
          font-size: 16px;
          font-weight: 700;
          line-height: 16px;
          letter-spacing: -0.16px;
          transition: background-color 0.3s ease;
          text-decoration: none;
        }

        &:hover {
          background-color: #0266FF;
          .login-link {
            color: #ffffff;
          }
          
        }
      }
    }
  }
  @media (min-width: 800px) {
    .hamburger-menu {
      display: none;
    }
  }
  
  @media (max-width: 800px) {
    .nav {
      display: none;
    }
    
    .hamburger-menu {
      display: block;
      width: 40px;
      height: 40px;
      
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

  
  


  