body {
    margin: 0px;
    padding: 0px;
  
    .nav-top-bar {
      height: 84px;
      flex-shrink: 0;
      background: #192140;
    }
  
    .body {
      height: 1097px;
      background: #FFF;
    }
  
    .footer {
      height: 274px;
      background: #10131C;
    }
  }
  